body {
	font-family: monospace;
}

.app-container {
	padding: 2em;
}

ul {
	list-style-type: none;
	padding-left: 2em;
}

li {
	margin-bottom: 5px;
}

.task-content {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.task-text {
	flex-grow: 1;
	outline:none;
}

.task-checkbox, .task-delete {
	cursor: pointer;
}