:root {
  --bkg-color: #242424;
  --but-color: #000000;
  --txt-color: #ffffff;
  --lnk-color: #646cff;
  --wrn-color: #000000;
  --err-color: #000000;
  --scs-color: #0dff00;

  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color: var(--txt-color);
  background-color: var(--bkg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--lnk-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--but-color);
  color: var(--txt-color);
  cursor: pointer;
  transition: border-color 0.25s;
  width:max-content;
}
button:hover {
  border-color: var(--lnk-color);
}
button:focus,
button:focus-visible {
  border-color: var(--scs-color);
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form-group {
  display: flex;
  gap: 0.5em;
}

input {
  font-family: monospace;
}

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: transparent;
  display: flex; justify-content: center; align-items: center;
  z-index: 999;
}

.modal {
  background-color: color-mix(in srgb, var(--but-color) 50%, transparent);
  padding: 2rem;
  border-radius: 10px;
  min-width: 300px;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}